<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sidebar-nav static</title>
    <link rel="stylesheet" href="../../font/iconfont.css" />
    <link rel="stylesheet" href="./sidebar-nav.css" />
  </head>
  <body>
    <div class="pannel">
      <ul>
        <li class="viewed">
          <span class="marker"></span>
          <a href="">简介</a>
        </li>
        <li class="viewed"><span class="marker"></span><a href="">下载</a></li>
        <li class="active">
          <span class="marker"></span>
          <a href="">内容</a>
        </li>
        <li><span class="marker"></span><a href="">JavaScript</a></li>
        <li><span class="marker"></span><a href="">Webpack</a></li>
        <li class="viewed">
          <span class="marker"></span><a href="">Parcel</a>
        </li>
        <li class="active">
          <span class="marker"></span>
          <a href="">浏览器 & 设备</a>
          <ul>
            <li>
              <span class="marker"></span>
              <a href="">aaa1</a>
            </li>
            <li>
              <span class="marker"></span>
              <a href="">aaa2</a>
            </li>
            <li>
              <span class="marker"></span>
              <a href="">aaa3</a>
            </li>
          </ul>
          <ul>
            <li>
              <span class="marker"></span>
              <a href="">bbb1</a>
            </li>
            <li>
              <span class="marker"></span>
              <a href="">bbb2</a>
            </li>
            <li>
              <span class="marker"></span>
              <a href="">bbb3</a>
            </li>
          </ul>
        </li>
        <li><span class="marker"></span><a href="">Vite</a></li>
        <li>
          <span class="marker"></span
          ><a href="">可访问性可访问性可访问性可访问性可访问性</a>
        </li>
        <li><span class="marker"></span><a href="">RFS</a></li>
      </ul>
    </div>
  </body>
</html>
