<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sidebar-nav test</title>
    <link rel="stylesheet" href="../../font/iconfont.css" />
    <script src="../../../src/ofa.js"></script>
    <script src="./sidebar-nav.js"></script>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
      }
      body {
        padding: 5vh 5vw;
        height: 90vh;
      }
    </style>
  </head>
  <body>
    <sidebar-nav>
      <ul>
        <li>
          <a href="1">简介</a>
        </li>
        <li>
          <a href="2">内容</a>
        </li>
        <li>
          <a href="2.5">内容2</a>
        </li>
        <li>
          <a href="3">浏览器 & 设备</a>
          <ul>
            <li>
              <a href="4">aaa1</a>
            </li>
            <li>
              <a href="5">aaa2</a>
            </li>
            <li>
              <a href="6">aaa3</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="7">bbb1</a>
            </li>
            <li>
              <a href="8">bbb2</a>
            </li>
            <li>
              <a href="9">bbb3</a>
            </li>
          </ul>
        </li>
        <li><a href="10">可访问性可访问性可访问性可访问性可访问性</a></li>
      </ul>
    </sidebar-nav>
  </body>
</html>
