@font-face {
  font-family: "iconfont"; /* Project id 3991838 */
  src: url('iconfont.woff2?t=1680590787599') format('woff2'),
       url('iconfont.woff?t=1680590787599') format('woff'),
       url('iconfont.ttf?t=1680590787599') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangxia:before {
  content: "\eb0a";
}

.icon-search:before {
  content: "\e699";
}

.icon-language:before {
  content: "\e6e3";
}

.icon-heiyemoshi:before {
  content: "\e68f";
}

.icon-baitianmoshi:before {
  content: "\e690";
}

.icon-right:before {
  content: "\e840";
}

