html.dark body {
  background-color: #0e1116;
  --logo-color: #fff;
  --header-font-color: #cdcdcd;
  --header-menu-hover-color: rgba(238, 238, 238, 0.2);
  --footer-bg-color: #343434;
  --article-actions-border-bgcolor: #343434;
}
