<link rel="stylesheet" href="../../css/public.css" />
<link rel="stylesheet" href="./k-breadcrumbs.css" />
<link rel="stylesheet" href="../../font/iconfont.css" />
<div class="article-actions-container">
  <div class="container">
    <slot></slot>
    <!-- <ul class="breadcrumb-list">
      <li>
        <a href="/en-US/docs/Learn"><span property="name">Guides</span></a>
      </li>
      <li>
        <a href="/en-US/docs/Learn/Getting_started_with_the_web"
          ><span property="name">Getting started with the web</span></a
        >
      </li>
      <li>
        <a
          href="/en-US/docs/Learn/Getting_started_with_the_web/JavaScript_basics"
          ><span property="name">JavaScript basics</span></a
        >
      </li>
    </ul> -->
  </div>
</div>
